.Column {
    flex: 1;
    border: 1px solid black;
    width: 33%;
  }
  
  .Column > h3,
  .no {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border: 1px solid black;
    padding: 20px;
  }
  
  .no {
    text-align: center;
    color: rgb(159, 159, 159);
    border: 1px solid black;
    height: calc(100% - 88px);
    max-height: fit-content;
  }
  
  .Column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .Column li {
    background-color: #29282850;
  }
  