.InputContainer {
  padding: auto;
  margin: 0 20px;
  width: 100%;
  max-width: 450px;
}

label {
  margin-left: 0;
  transition: 0.3s;
  color: white;
  font-size: 1.2rem;
}

.InputContainer:hover label,
.InputContainer:focus-within label {
  margin-left: 15px;
}

input {
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 15px 20px;
  width: 100%;
  max-width: 450px;
}
