.InputContainer {
  padding: auto;
  margin: 0 20px;
}



label {
  margin-left: 0;
  transition: 0.3s;
  color: white;
}

.InputContainer:hover label, .InputContainer:focus-within label {
  margin-left: 15px;
}

input {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 5px 5px 15px;
  max-width: 550px;
}
