@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #d2d2d2;
  position: relative;
}

h1 {
  font-size: 22px;
  font-weight: lighter;
}

h2 {
  font-size: 32px;
  border-bottom: dashed 3px black;
}

a {
  color: unset;
  text-decoration: none;
}

form {
  width: 100%;
  max-width: 550px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  padding: 25px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}
