.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow:auto
}

.error {
  position: absolute;
  top: calc(50% + (478px / 2) + 12px);
  padding-bottom: 12px;
}

.widgetContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #b7025394;
  backdrop-filter: blur(100px);
  padding: 20px;
  width: 100%;
  height: fit-content;
  max-width: 850px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.info  h2 {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  align-items: center;
  color: white;
  margin-bottom: 0;
  border-bottom: none;
}

.waitingContainer  h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 0;
  border-bottom: none;
}

.info h2  span {
  font-size: 33px;
}

.info > p {
  font-size: 25px;
  height: 38px;
  font-weight: lighter;
  color: white;
}

.modeSelector {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.modeSelector input {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
