.link {
  color: white;
  font-size: 1.2rem;
  font-family: "Righteous", system-ui;
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  color: #b70253;
}

.activeLink {
  color: red;
  font-size: 1.2rem;
}

.activeLink:hover {
  color: rgb(255, 166, 0);
  font-size: 1.2rem;
}
