.championsContainer {
  background-color: #010a13;
  border-radius: 50px;
  padding: 25px;
  margin: 25px;
}

.championsContainer ul {
  list-style: none;
}

.champions {
  padding: 5px;
  flex-direction: row;
  justify-content: space-between;
  max-height: 320px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-wrap: wrap;
  gap: 5px;
  scroll-snap-type: y mandatory;
}