.miniIconContainer {
  max-height: 40px;
}

.miniIconContainer > img {
  cursor: pointer;
  transition: 0.2s;
  height: 40px;
  width: 40px;
}

.miniIconContainer > img:hover {
  transform: scale(1.1);
}